<template>
    <NuxtLink class="blog-post" :href="`/blog/${slug}`">
        <h2>{{ title }}</h2>
        <small>{{ category }}</small>
        <small class="muted">{{ tags ? ` - ${tags}` : '' }}</small>
        <p class="post-content">{{ content }}</p>
    </NuxtLink>
</template>

<script setup>
defineProps({
    title: String,
    content: String,
    category: String,
    tags: String,
    slug: String
});
</script>

<style scoped lang="scss">
.blog-post {
    margin-bottom: 2rem;
    text-decoration: none;
}

h2 {
    color: #007bff;
    margin-bottom: 0;
}

.post-content {
    color: black;
}

small {
    color: black;

    &.muted {
        color: #6c757d;
    }
}
</style>