<template>
    <nav>
        <NuxtLink href="/">Início</NuxtLink>
        <NuxtLink href="/categories">Categorias</NuxtLink>
        <NuxtLink href="/gerenciador">Posts</NuxtLink>
        <NuxtLink href="/usuarios">Usuários</NuxtLink>
    </nav>
</template>

<script setup>
</script>

<style scoped>
nav {
    background-color: #0069d9;
}

a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}
</style>