<template>
    <div>
        <header>
            <h1>Category : {{ slug }}</h1>
        </header>
        <NavBar />
        <div class="container">
            <BlogPost title="First Post" category="category 1" tags='tag 1, tag 2' slug="post-1"
                content="This is the content of the first post." />
        </div>
    </div>
</template>

<script setup>
const slug = useRoute().params.slug;
</script>