<template>
    <div>
        <header>
            <h1>POST : {{ slug }}</h1>
        </header>
        <NavBar />
        <div class="container">
            <p>Aqui a página de POST</p>
        </div>
    </div>
</template>

<script setup>
const slug = useRoute().params.slug;
</script>