<template>
    <div>
        <header>
            <h1>Categorias</h1>
        </header>
        <NavBar />
        <div class="container">
            <p>
                <NuxtLink href="/category/category-1">Categoria 1</NuxtLink>
            </p>
            <p>
                <NuxtLink href="/category/category-2">Categoria 2</NuxtLink>
            </p>
        </div>
    </div>
</template>

<script setup>
</script>