<template>
    <div>
        <header>
            <h1>Meu Blog</h1>
        </header>
        <NavBar />
        <div class="container">
            <BlogPost
                v-for="post in posts"
                :key="post.id"
                :title="post.title"
                :category="post.category_id" 
                :tags="post.tags.map(tag => tag.name).join(', ')" 
                :slug="'post-' + post.id" 
                :content="post.description" 
            />
        </div>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import axios from 'axios';

const posts = ref([]);

const fetchPosts = async () => {
    try {
        const response = await axios.get('http://back-laravel:8000/api/articles'); 
        posts.value = response.data.data;
    } catch (error) {
        console.error('Erro ao buscar os posts:', error);
    }
};

onMounted(() => {
    fetchPosts();
});
</script>

